# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=waf_user
DB_PASSWORD=waf_pass
DB_NAME=waf_control
DB_SSL=false

# App
PORT=3000

# Nginx & WAF paths
WAF_RULES_DIR=/usr/local/nginx/WAF_RULES_JSON
WAF_CORE_DIR=/usr/local/nginx/WAF_RULES_JSON/core
WAF_CORE_MANAGED_DIR=/usr/local/nginx/WAF_RULES_JSON/managed-core
WAF_TEMPLATE_DIR=/usr/local/nginx/WAF_RULES_JSON/template
NGINX_CONF=/usr/local/nginx/conf/nginx.conf
NGINX_BIN=/usr/local/nginx/sbin/nginx
CROSSPLANE_BIN=crossplane
NGINX_BACKUP_DIR=/usr/local/nginx/conf/.backup

# Loki
LOKI_URL=http://127.0.0.1:3100
LOKI_TIMEOUT_MS=5000
LOKI_MAX_LIMIT=1000
LOKI_JOB_WAF=nginx_waf
LOKI_JOB_ACCESS=nginx_access

# SMTP
SMTP_ENABLED=false
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_TLS_REJECT_UNAUTHORIZED=true

# JWT
JWT_SECRET=dev-secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
